.add_product_left_component {
  p {
    font-size: 14px;
  }

  input,
  textarea,
  select {
    font-size: 16px;
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    border: 1px solid var(--light_border);
    width: 100%;
    resize: none;
  }

  .sub_inputs {
    width: 100%;
    > div {
      width: 100%;
    }
  }
}

.add_product_right_component {
  .upload_image_container {
    height: 200px;

    input {
      display: none;
    }

    p {
      font-size: 16px;
    }
  }
}
.category_container {
  width: 100%;

  .sub_inputs {
    width: 100%;

    > div {
      width: 100%;
    }
  }

  p {
    width: 100%;
  }

  select,
  input,
  button {
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    border: 1px solid var(--light_border);
  }
  button {
    font-size: 14px;
    background: var(--sub_bg);
    * {
      background: var(--sub_bg);
    }
  }
  .add_new_field {
    width: fit-content;
    padding: 0.5rem 1rem;
  }
}

.generate_barcode {
  h2 {
    font-size: 18px;
    border-bottom: 1px solid var(--light_border);
    padding-bottom: 0.4rem;
  }
  button {
    padding: 0.5rem 1rem;
    background-color: var(--green_color);
    width: fit-content;
    margin: auto;
    border-radius: 0.3rem;
    color: #fff;
  }
}

.optional_feeds {
  max-height: 5.5rem;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.show_full {
  max-height: 1000px;
}

.down {
  transition: transform 0.3s ease-in-out;
}

.transform {
  transform: rotate(180deg);
}
