.grid_layout_component {
  .grid_layout {
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    display: grid;
    gap: 1rem;
    padding-bottom: 1rem;
  }
  .grid_layout_folder_header {
    width: 100%;
    border: 2px solid var(--light_border);
    padding: 0.3rem 0.5rem;
    margin-bottom: 0.75rem;
  }
}

.grid_item_folder_component {
  width: 100%;
  background-color: var(--sub_bg);
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  min-height: 200px;
  overflow: hidden;
  position: relative;
}

.grid_folder_component {
  position: sticky;
  z-index: 999;
  .grid_folder_image_div {
    height: 100px;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .grid_folder_content {
    padding: 0.75rem 1rem;
  }

  h4 {
    font-size: 15px;
  }

  p {
    font-size: 12px;
  }
}

.display_on_hover {
  top: 0;
  left: 0;
  display: none;
  height: 100%;
  width: 100%;
  align-items: flex-start;
  background: rgba(0, 0, 0, 0.4);
  padding: 0.5rem 0.5rem 1rem 0.5rem;

  p {
    font-size: 14px;
  }
}

.grid_item_folder_component:hover .display_on_hover {
  display: flex;
}

.grid_folder_component {
  .grid_item_content {
    padding: 1rem;
  }
}

.grid_folder_component1 {
  width: 100%;
  background-color: var(--sub_bg);
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  min-height: 200px;
  overflow: hidden;
  position: relative;
  .grid_folder_image_div {
    height: 100px;
    width: 100%;
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  .grid_folder_content {
    padding: 0.75rem 1rem;
  }

  h4 {
    font-size: 15px;
  }

  p {
    font-size: 12px;
  }
}

.grid_folder_component1:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.grid_folder_component1 {
  .grid_item_content {
    padding: 1rem;
  }
}
