.grid_header {
  padding: 0 2rem;
  border-bottom: 1px solid var(--light_border);
  min-height: 6vh;
  width: 100%;
  top: 0;
  z-index: 999;
  background-color: var(--main_bg);
  max-height: 10vh;

  > h2 {
    font-size: 16px;
    font-weight: 400;
  }

  * {
    /* display: none; */
    .ant-popover-inner {
      /* padding: 12px; */
      display: block !important;
    }
  }
  /* .antd_btn {
    * {
      color: inherit;
    }
  } */
}
