.grid_display_header_component {
  .grid_header {
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--light_border);
    height: 10vh;
    width: 100%;

    > h2 {
      font-size: 16px;
      font-weight: 400;
    }

    .antd_btn {
      * {
        color: inherit;
      }
    }
  }

  .sales_sub_header_container {
    width: 100%;
    padding: 0.5rem 2rem;
    .sales_search {
      border-radius: 0.3rem;
      width: fit-content;
      border: 1px solid var(--light_border);

      * {
        color: var(--text_color);
      }
      input {
        background-color: initial;
        padding: 0.5rem 1rem;
        border: none;
        outline: none;
      }
      .sales_search_icon {
        height: auto;
        padding: 0.5rem 0.5rem;
      }
    }
    .grid_menu_option {
      height: 100%;
      background-color: var(--text_color);
      color: var(--main_bg);
      padding: 0 0.5rem;
      border-radius: 0.3rem;
      * {
        font-size: 22px;
        color: var(--main_bg);
      }
    }
  }
}
