.card {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.loading_item {
  width: 100%;
  position: relative;
}

.card__image.loading {
  height: 100px;
  width: 100%;
}

.card__title.loading {
  height: 0.8rem;
  width: 50%;
  border-radius: 3px;
}

.card__description.loading {
  height: 2.5rem;
  border-radius: 3px;
}

/* The loading Class */
.loading {
  position: relative;
  background-color: var(--light_border);
  overflow: hidden;
}

/* The moving element */
.loading::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(transparent),
    color-stop(rgba(255, 255, 255, 0.1)),
    to(transparent)
  );

  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.1),
    transparent
  );

  /* Adding animation */
  animation: loading 0.8s infinite;
}

/* Loading Animation */
@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

.spinner_div {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999999;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  animation: spinner-plncf9 4s infinite;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  border: 9px solid;
  border-radius: 50%;
  border-color: #22ad01 #22ad01 #0000 #0000;
  mix-blend-mode: darken;
  animation: spinner-plncf9 1s infinite linear;
}

.spinner::after {
  border-color: #0000 #0000 #dbdcef #dbdcef;
  animation-direction: reverse;
}

@keyframes spinner-plncf9 {
  100% {
    transform: rotate(1turn);
  }
}

/* ----------- DOTS LOADER ------------ */
.dots {
  width: 56px;
  height: 13.4px;
  background: radial-gradient(
        circle closest-side,
        var(--green_color) 90%,
        #0000
      )
      0% 50%,
    radial-gradient(circle closest-side, var(--green_color) 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, var(--green_color) 90%, #0000) 100% 50%;
  background-size: calc(100% / 5) 100%;
  background-repeat: no-repeat;
  animation: dots-zcf63l 1s infinite linear;
}

@keyframes dots-zcf63l {
  33% {
    background-size: calc(100% / 5) 0%, calc(100% / 5) 100%, calc(100% / 5) 100%;
  }

  50% {
    background-size: calc(100% / 5) 100%, calc(100% / 5) 0%, calc(100% / 5) 100%;
  }

  66% {
    background-size: calc(100% / 5) 100%, calc(100% / 5) 100%, calc(100% / 5) 0%;
  }
}

/* --------- REQUEST SPINNER -----------  */
.request_spinner_container {
  height: 100vh;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99999;
}

.request_spinner {
  position: absolute;
  width: 9px;
  height: 9px;
}

.request_spinner div {
  position: absolute;
  width: 50%;
  height: 150%;
  background: var(--text_color);
  transform: rotate(calc(var(--rotation) * 1deg))
    translate(0, calc(var(--translation) * 1%));
  animation: request_spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
}

.request_spinner div:nth-child(1) {
  --delay: 0.1;
  --rotation: 36;
  --translation: 150;
}

.request_spinner div:nth-child(2) {
  --delay: 0.2;
  --rotation: 72;
  --translation: 150;
}

.request_spinner div:nth-child(3) {
  --delay: 0.3;
  --rotation: 108;
  --translation: 150;
}

.request_spinner div:nth-child(4) {
  --delay: 0.4;
  --rotation: 144;
  --translation: 150;
}

.request_spinner div:nth-child(5) {
  --delay: 0.5;
  --rotation: 180;
  --translation: 150;
}

.request_spinner div:nth-child(6) {
  --delay: 0.6;
  --rotation: 216;
  --translation: 150;
}

.request_spinner div:nth-child(7) {
  --delay: 0.7;
  --rotation: 252;
  --translation: 150;
}

.request_spinner div:nth-child(8) {
  --delay: 0.8;
  --rotation: 288;
  --translation: 150;
}

.request_spinner div:nth-child(9) {
  --delay: 0.9;
  --rotation: 324;
  --translation: 150;
}

.request_spinner div:nth-child(10) {
  --delay: 1;
  --rotation: 360;
  --translation: 150;
}

@keyframes request_spinner-fzua35 {
  0%,
  10%,
  20%,
  30%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    transform: rotate(calc(var(--rotation) * 1deg))
      translate(0, calc(var(--translation) * 1%));
  }

  50% {
    transform: rotate(calc(var(--rotation) * 1deg))
      translate(0, calc(var(--translation) * 1.5%));
  }
}
