@import url(./dashboard_card.css);
@import url(./dashboard_chart.css);
@import url(./map.css);

.dashboard_header {
  * {
    color: var(--text_color);
  }
  h2 {
    padding: 1.5rem 2rem;
    font-size: 28px;
    border-bottom: 2px solid var(--light_border);
  }
}

@media (min-width: 100px) and (max-width: 767px) {
  .dashboard_header {
    h2 {
      padding: 0.5rem 1rem;
      font-size: 22px;
      border-bottom: 2px solid var(--light_border);
    }
  }
}

@media (min-width: 768px) and (max-width: 1110px) {
  .dashboard_cards {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    .dashboard_card {
      width: 100%;
    }
  }
}
