@import url(./defaults.css);
@import url(./root_css.css);
@import url(./auth.css);
@import url(../styles/table_styles.css);

.opacity05 {
  opacity: 0.5;
}

.opacity07 {
  opacity: 0.7;
}

.opacity08 {
  opacity: 0.8;
}

.padding05rem {
  padding: 0.5rem;
}

.padding075rem {
  padding: 0.75rem;
}

.padding1rem {
  padding: 1rem;
}

.layout {
  min-height: 100vh;
  width: 100%;
  background: var(--main_bg);

  * {
    color: var(--text_color);
  }

  .sub_layout {
    min-width: 80%;
    width: 100%;

    .layout_content {
      width: 100%;
    }
  }
}

.container {
  min-height: 90vh;
  &::-webkit-scrollbar {
    display: none;
    width: 0px;
    height: 0;
  }
}

.sales_container {
  height: 100vh;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
    width: 0px;
    height: 0;
  }
}

.container,
.sales_container {
  /* border: 1px solid var(--light_border); */
  width: 100%;
  padding-bottom: 1rem;
}

.sales_sub_head_controls {
  button {
    font-size: 12px;
    border: none;
    background: transparent;
  }
}

.grid_filter_options_component {
  width: 250px;
  .grid_filter_options_sub_component {
    overflow-y: auto;
    max-height: 500px;

    &::-webkit-scrollbar {
      width: 5px;
    }
  }
}

.green_text {
  color: var(--green_color);
}

.red_text {
  color: #ff3232;
}

.sales_grid_layout {
  padding: 0 2rem;
}

.antd_btn {
  color: var(--main_bg);
  * {
    color: var(--main_bg);

    &:hover {
      color: var(--text_color);
    }
  }
}

.btn_theme {
  background: var(--green_color);
  /* height: 100%; */
  padding: 0 0.4rem;
  color: var(--white_color);
  border-radius: 0.3rem;
  font-size: 12px;
}

.border_all {
  border: 1px solid var(--light_border);
  border-radius: 0.5rem;
}

.dashed_lg_border_all {
  position: relative;
  border-radius: 0.5rem;
}

.dashed_lg_border_all::before,
.dashed_lg_border_all::after,
.dashed_lg_border_all .corner-1,
.dashed_lg_border_all .corner-2 {
  content: "";
  position: absolute;
  border: 8px dashed var(--light_border);
  width: 30px;
  height: 30px;
}

.dashed_lg_border_all::before {
  top: 5px;
  left: 5px;
  border-right: none;
  border-bottom: none;
}

.dashed_lg_border_all::after {
  bottom: 5px;
  right: 5px;
  border-left: none;
  border-top: none;
}

.dashed_lg_border_all .corner-1 {
  top: 5px;
  right: 5px;
  border-left: none;
  border-bottom: none;
}

.dashed_lg_border_all .corner-2 {
  bottom: 5px;
  left: 5px;
  border-right: none;
  border-top: none;
}

.main_bg {
  * {
    background-color: var(--main_bg);
  }
}

.width_fit {
  width: fit-content;
}

.width100 {
  width: 100%;
}

.placeholder_style {
  color: red;
  &::placeholder {
    color: red;
  }
}
