.product_details_container {
  border: 1px solid var(--light_border);
  border-radius: 0.5rem;
  min-height: 80vh;
  width: 70%;

  .product_details_top {
    width: 100%;

    .product_details_top_div {
      width: 64%;
    }

    .product_details_image_div {
      width: 34%;
      height: 300px;
      .product_details_image {
        width: 100%;
        height: 240px;
        background-color: var(--light_border);
        border-radius: 0.3rem;
        img {
          margin: auto;
          width: 65%;
          height: 100%;
          object-fit: cover;
        }
      }
      .product_details_images {
        height: 45px;
        min-width: 100%;
        /* max-width: 100%; */
        overflow-x: auto;

        &::-webkit-scrollbar {
          width: 0;
          height: 0;
        }
        img {
          min-width: 60px;
          max-width: 60px;
          height: 100%;
          border-radius: 4px;
        }

        .current_image {
          filter: grayscale(20);
        }
      }
    }
  }
}
